/* Reset e Configurações Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

body {
    background-image: url("/img/bunner/fundo.jpg");
    font-size: 16px;
    margin: 0 auto;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */
#header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Logo à esquerda e navbar à direita */
    padding: 0 20px; /* Espaçamento interno */
    width: 100%; /* Header ocupa toda a largura */
    background-color: #AAC197;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: fixed; /* Fixa o header no topo */
    top: 0;
    left: 0;
    z-index: 1000; /
}

/* Navbar */
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#navbar li {
    list-style: none;
    padding: 0 15px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    color: #f1eded;
    transition: 0.3s ease;
}

/* Seções */
.section-p1 {
    padding: 40px 80px;
    max-width: 1200px;
    margin: 0 auto;
}

#navbar .box {
    width: 120px;
    height: 5px;
    background-color: rgba(236, 230, 194, 0.8);
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 15px;
}

#navbar .box:hover {
    background-color: #e7e0d5cc;
}

#navbar .box i {
    font-size: 16px;
    color: #000;
}

#navbar .box input {
    flex: 1;
    height: 20px;
    background-color: rgba(253, 246, 246, 0.01);
    border: none;
    outline: none;
}